Pipelines/pipeline/pl_ingest_population_data.json
{
	"name": "pl_ingest_population_data",
	"properties": {
		"activities": [
			{
				"name": "check if file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "Get Metadata of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If column count matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata of file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata of file').output.columnCount, 13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "if count doesnt match",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "column count is not equaol to 13",
								"errorCode": "check the column count"
							}
						},
						{
							"name": "send an email",
							"description": "activity failed",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "if count doesnt match",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMSqJlMRwQrBmQVCQDhqRFlmDnDvVddvsrnhSDpxztfkqzjHXkXCLlvqcGPFMPkbsHtQqCL",
								"method": "POST",
								"body": "activity failed"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy population data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_population_raw_tsv",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Deletesource file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy population data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-19T09:21:49Z"
	}
}